@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
}

.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.p-4 {
  padding: 4rem;
}
.p-5 {
  padding: 5rem;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}
.py-5 {
  padding: 5rem 0;
}

.my-0 {
  margin: 0;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}
.my-5 {
  margin: 5rem 0;
}

.myt-0 {
  margin-top: 0;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.btn {
  padding: 10px 15px;
  transition: all 0.3s;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-block {
  display: block;
}

.btn-inline {
  display: inline-block;
}

.btn-border {
  border: 3px solid $primaryColor;
}

.btn-border-secondary {
  border: 3px solid $secondaryColor;
}

.bg-primary {
  background: $primaryColor;
  color: set-text-color($primaryColor);
}

.bg-transparent {
  background: $transparentColor;
  color: set-text-color($transparentColor);
}

.bg-dark {
  background: $darkColor;
  color: set-text-color($darkColor);
}

.bg-medium {
  background: $mediumColor;
  color: set-text-color($mediumColor);
}

.bg-light {
  background: $lightColor;
  color: set-text-color($lightColor);
}
.main-title {
  font-size: 50px;
  margin-bottom: 15px;
}

.title {
  font-size: 40px;
}

.subtitle {
  font-size: 22px;
}

.bottom-line {
  width: 50px;
  background: $primaryColor;
  height: 2px;
  margin: auto;
}

.grey-text {
  color: $mediumColor;
}

.dark-text {
  color: $darkColor;
}

.primary-text {
  color: $primaryColor;
}

.secondary-text {
  color: $secondaryColor;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.hover-primary-bg {
  transition: all 0.3s;
  &:hover {
    background: $primaryColor;
    color: set-text-color($primaryColor);
    cursor: pointer;
  }
}

.hover-secondary-bg {
  transition: all 0.3s;
  &:hover {
    background: $secondaryColor;
    color: set-text-color($secondaryColor);
    cursor: pointer;
  }
}
