section#home-A {
  .icons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem;
    justify-content: center;

    &__item {
      text-align: center;

      i.fas {
        color: $primaryColor;
      }

      p {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}

section#home-C {
  background: url("../img/bg.png") repeat;
  color: $lightColor;

  .swiper-slide-item {
    &__image {
      border: 2px solid $lightColor;
    }
    &__desc {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

section#home-D {
  .delivery {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .delivery-item {
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      &__icon {
        i.fas {
          color: $primaryColor;
          margin-bottom: 30px;
        }
      }
      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 1.5;
        a {
          margin: 0;
        }

        p:first-child {
          margin-top: 0;
        }

        &__title {
          line-height: 1;
        }
      }
    }
  }
}
